/*pagination-css*/
.paginate-wrapper {
    text-align: center;
}

.paginate-wrapper ul.pagination {
    display: inline-block;
    padding: 0px;
    list-style-type: none;
    background-color: #42b0f4;
    color: #fff;
}
.paginate-wrapper ul.pagination li {
    display: inline-block;
}
.paginate-wrapper ul.pagination li.page a {
    display: inline-block;
    height: 20px;
    width: 36px;
    padding: 8px 0px;
    margin: 8px 0px;
    text-align: center;
    cursor: pointer;
}
.paginate-wrapper ul.pagination li.disabled-page {
    color: #cfd1ca;
    cursor: not-allowed !important;
}
.paginate-wrapper ul.pagination li.active a {
    border-radius: 20px;
    border: 1px solid #000;
    color: #000;
}
.paginate-wrapper ul.pagination li.previous {
    border-right: 1px solid #000;
    margin-right: 10px;
    cursor: pointer;
}
.paginate-wrapper ul.pagination li.next {
    border-left: 1px solid #000;
    margin-left: 10px;
    cursor: pointer;
}
.paginate-wrapper ul.pagination li a.nav {
    padding: 8px 16px;
}