/*pagination-css*/
.paginate-wrapper {
    text-align: center;
}

.paginate-wrapper ul.pagination {
    display: inline-block;
    padding: 0px;
    list-style-type: none;
    background-color: #42b0f4;
    color: #fff;
}
.paginate-wrapper ul.pagination li {
    display: inline-block;
    padding: 8px 12px;
    margin: 8px 0px;
    cursor: pointer;
}
.paginate-wrapper ul.pagination li.disabled-page {
    color: #cfd1ca;
    cursor: default;
}
.paginate-wrapper ul.pagination li.active {
    border-radius: 20px;
    border: 1px solid #000;
    color: #000;
}
.paginate-wrapper ul.pagination li.previous {
    border-right: 1px solid #000;
    margin-right: 10px;
}
.paginate-wrapper ul.pagination li.next {
    border-left: 1px solid #000;
    margin-left: 10px;
}